@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";


.productsWithFiltersContainer {
  display: grid;
  grid-template-columns: 230px calc(100% - 260px);
  align-items: flex-start;
  grid-gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;

  .filterSidebar {
    display: grid;
    align-content: flex-start;
    grid-row-gap: 20px;
  }

  .brandWithProductsSliderContainer {
    // display: grid;
    // grid-gap: 30px;

    .brandWithProductsSliderGrid {
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      // grid-gap: 20px;
      // align-items: center;

      .brandLogo {
        grid-column: 1/5;

        img {
          width: 100px;
          height: 100%;
          object-fit: cover;
        }
      }

      .productCard {
        .productImage {}

        .productInfo {}
      }

    }
  }
}