@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.navbar {
  transition: .3s ease;
  border-bottom: 1px solid rgba(63, 63, 63, .15);

  .mainMenu {

    >ul {
      >li {
        position: relative;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        min-height: 80px;
        transition: .3s ease;

        >.menuItem {
          color: $dark;
        }

        .dropdown {
          cursor: default;
          left: 50%;
          transform: translateX(-50%);

          .arrow {
            left: 50%;
            transform: translateX(-50%);
          }

          >ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            >li {
              &:hover {
                border-left: 3px solid $orange;
              }
            }

            @include lg {
              grid-template-columns: 1fr 1fr;
            }
          }
        }

        &:hover,
        &.active {
          border-bottom: 3px solid $orange;
        }
      }
    }
  }

  .navbarRight {
    .userAccountDropdown {
      position: relative;

      .dropdownContainer {
        min-width: 200px;

        ul {
          li {
            &:hover {
              border-left: 3px solid $orange;
            }
          }
        }
      }
    }


  }

  .menuDropdown {
    ul {
      >li {
        border-color: $orange;
        border-bottom: 2px solid transparent;

        p {
          font-size: 12px;
        }

        &.active {
          border-bottom: 2px solid $orange;
        }

        &:hover {
          border-bottom: 2px solid $orange;
        }
      }
    }
  }
}