$screen-xs-max: 376px;
$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;
$screen-xxl-max: 1400px;

$containerWidth: 1140px;

$white: #FFFFFF;
$yellow: #FECE00;
$dark: #272727;
$orange: #FF6D2E;