@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$screen-xs-max: 376px;
$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;
$screen-xxl-max: 1400px;

$containerWidth: 1140px;

$white: #FFFFFF;
$yellow: #FECE00;
$dark: #272727;
$orange: #FF6D2E;
$red: #b40505;

$main-font: 'Roboto', sans-serif;