@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

button {
  &.primary {
    border-radius: 99px;
    border: none;
    padding: 10px 24px;
    color: $white ;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s all ease-in;
    background: $orange;
    cursor: pointer;

    &:hover {
      background-color: #eb916a !important;
    }
  }
}