.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next {
    color: black;
    right: 10;
}
.swiper-button-next:hover {
    color: gray;
}

.swiper-button-prev {
    color: black;
    left: 10;
}
.swiper-button-prev:hover {
    color: gray;
}

.swiper-pagination {
   margin-top: 100px; 
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeHeader {
    height: 600px;
}

.carousel {
    padding: 0 30px 0 30px;
    height: 300px;
}